# Ignore Python bytecode files
__pycache__/

# Ignore virtual environment
myenv/

# Ignore any local or environment-specific files
.env

# Ignore any logs or temporary files
*.log
*.txt

# Ignore system-specific files
.DS_Store  # macOS specific
Thumbs.db  # Windows specific